<%- layout("./croatian/boilerplate/layout.ejs") %>

<link rel="stylesheet" href="/css/editImages.css">

<button class="Button backButton">back to <%=beer.name%> </button>

<h1>Dodaj ili izbriši slike od "<%=beer.name%>"</h1>

<form class="deleteForm" action="/beer/<%=beer._id%>/images?_method=DELETE" method="POST">

    <div class="images">
    <%for(let i = 0; i < images.length; i++){%> 
    <div class="imageContainer">
        <img class="image" src="<%=images[i].path%> " alt="<%=images[i].originalName%>">
        <div class="checkContainer"><input class="imageCheck" type="checkbox" name="checked[]" value="<%=i%>"></div>
    </div>
    <%}%> 
</div>

    
</form>

<div class="imageButtons">
    <%if(images.length){%> 
        <button class = "Button deleteButton">Izbriši</button>
    <%}%>
    <form class="addImageForm" action="/beer/<%=beer._id%>/images" method="POST" enctype="multipart/form-data">
        <label class="Button" for="addImage">dodaj</label>
        <input accept="image/*" class="addImageInput" type="file" id="addImage" name="image" multiple style="display: none;">
    </form>
</div>



<script src="/javascript/addImage.js"></script>