<%-layout("/boilerplate/layout.ejs")%>
    <link rel="stylesheet" href="/css/beerView.css">
    <main>
        <div class="beerCard">
            <h1>
                <%=beer.name%>
            </h1>
            <div><b>beer style: </b> <%=beer.beerStyle%>
            </div>
            <div>location: <%=beer.location%>
            </div>
            <div>description: <%=beer.description%>
            </div>
            <% if(beer.image.path){ %>
                <div>
                    <img class="picture" src=<%=beer.image.path%> alt=<%=beer.image.filename%>>
                </div>

                <% } %>

                    <a href="/beer/<%=beer._id%>/edit">edit</a>

                    <form action="/beer/<%=beer._id%>?_method=DELETE" method="POST">
                        <button>Delete</button>
                    </form>
        </div>
        <div class="comments"></div>
    </main>