<%-layout("/boilerplate/layout.ejs")%>
    <link rel="stylesheet" href="/css/beerView.css">
    <main>
        <div class="card beerCard">
            <h1>
                <%=beer.name%>
            </h1>
            <% if(beer.image.path){ %>
                <div>
                    <img class="picture" src=<%=beer.image.path%> alt=<%=beer.image.filename%>>
                </div>

                <% } %>
                    <% if(beer.rating) {%>
                        
                    <div class="ratingAvg">
                    <b>Rating:</b> <%=beer.rating%>
                    </div>   
                    <%  }%>  
                    <div class="beerStyle"><b>Beer style: </b>
                        <%=beer.beerStyle%>
                    </div>
                    <div class="beerLocation"><b>Location: </b>
                        <%=beer.location%>
                    </div>
                    <div class="beerDescription"><b>Description: </b>
                        <%=beer.description%>
                    </div>
                    <div class="buttons">
                        <div class="anchorButton">
                            <a href="/beer/<%=beer._id%>/edit">
                                <p>edit</p>
                            </a>

                        </div>

                        <form class="deleteForm" action="/beer/<%=beer._id%>?_method=DELETE" method="POST">
                            <button class="Button">
                                <p>Delete</p>
                            </button>
                        </form>
                    </div>
        </div>

        <div class="commentSection">
            <div class="card postComment">

                <h2>Post a comment</h2>
                <form class="validateForm commentForm" action="/beer/<%=beer._id%>/comments" method="POST" novalidate>
                    <div class="ratingInput">
                        <h3>Leave a rating:</h3>
                        <label for="rating1">1</label>
                        <input class="validate" type="radio" name="rating" id="rating1" value=1 required>
                        <label for="rating2">2</label>
                        <input class="validate" type="radio" name="rating" id="rating2" value=2 required>
                        <label for="rating3">3</label>
                        <input class="validate" type="radio" name="rating" id="rating3" value=3 required>
                        <label for="rating4">4</label>
                        <input class="validate" type="radio" name="rating" id="rating4" value=4 required>
                        <label for="rating5">5</label>
                        <input class="validate" type="radio" name="rating" id="rating5" value=5 required>
                    </div>
                    <div class=commentInput>
                        <label for="comment">Leave a comment:</label>
                        <br>
                        <textarea class="validate" name="comment" id="comment" cols="30" rows="10" required></textarea>
                    </div>
                    <button class="Button">Comment</button>

                    <p class="fillMessage">Please fill out missing information</p>

                </form>
            </div>


            <% for(comment of comments){ %>
                <div class="card comment">
                    <div class="rating">
                        <p>rating: <%=comment.rating%>
                        </p>
                    </div>
                    <div class="commentMessage">
                        <%=comment.comment%>
                    </div>
                    <form class="deleteForm" action="/beer/<%=beer._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                        <button class ="Button deleteButton">Delete</button>

                    </form>
                </div>
                <%} %>

        </div>






    </main>

    <script src="/javascript/validateForm.js"></script>