<%-layout("/boilerplate/layout.ejs")%>
    <link rel="stylesheet" href="/css/beerView.css">
    <main>
        <div class="card beerCard">
            <h1>
                <%=beer.name%>
            </h1>
            <% if(beer.image.path){ %>
                <div>
                    <img class="picture" src=<%=beer.image.path%> alt=<%=beer.image.filename%>>
                </div>

                <% } %>

                    <div class=beerStyle><b>Beer style: </b>
                        <%=beer.beerStyle%>
                    </div>
                    <div class=beerLocation><b>Location: </b>
                        <%=beer.location%>
                    </div>
                    <div class=beerDescription><b>Description: </b>
                        <%=beer.description%>
                    </div>
                <div class = "buttons">
                    <div class="anchorButton">
                        <a href="/beer/<%=beer._id%>/edit">
                            <p>edit</p>
                        </a>

                    </div>

                    <form class="deleteForm" action="/beer/<%=beer._id%>?_method=DELETE" method="POST">
                        <button class="Button"><p>Delete</p></button>
                    </form>
                </div>
        </div>
        <div class="card comments"></div>
    </main>