
<%-layout("./boilerplate/layout.ejs")%> 
    <h1><%=beer.name%> </h1>
    <div>beer style: <%=beer.beerStyle%> </div>
    <div>location: <%=beer.location%> </div>
    <div>description: <%=beer.description%> </div>
    <a href="/beer/<%=beer._id%>/edit">edit</a>
    <form action="/beer/<%=beer._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
    </form>
