<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pivo Edit</title>
</head>

<body>
    <h1>Dodaj Pivo</h1>
    <form action="/pivo/<%=pivo._id%>/edit?_method=PUT" method="POST">
        <div>
            <label for="name">Ime piva</label>
            <input type="text" id="name" placeholder="ime"name = "name" required value=<%=pivo.name%>> 
        </div>
        <div>
            <label for="beerStyle">beer style</label>
            <input type="text" id="beerStyle" placeholder="beer style" name = "beerStyle" required value=<%=pivo.beerStyle%> > 
        </div>
        <div>
            <label for="location">odakle potječe</label>
            <input type="text" id="location" placeholder="mjesto" name="location" required value=<%=pivo.location%> >
        </div>
        <div>
            <label for="description">kratki opis</label>
            <textarea id="description" name="description" rows=4 cols=20 required>
             <%=pivo.description%>    
            </textarea>
        </div>
        <button>Editiraj</button>
    
</body>
</html>