<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/rustifan/image/upload/v1613060337/beer/ezuhkyntcl4m2dv0yjq2.png"/>
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/rustifan/image/upload/v1613060337/beer/ezuhkyntcl4m2dv0yjq2.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/stylesheet.css">

    <script>const mapToken = "<%=mapBoxToken%>"</script>
    
</head>

<body>
    <nav class="navbar">
        
        <div class="navMain">
            <div class="container">
            <div class="bar1 bars"></div>
            <div class="bar2 bars"></div>
            <div class="bar3 bars"></div>
        </div>
            <a href="/">Početna</a>
            <a href="/beer">Piva</a>
            <% if(isAdmin){%>
                <a href="/beer/pending">Na čekanju</a>
            <%}%>
            <% if(userID){%>
        
            <a href="/chat">Chat</a>
            <%}%>
            <a href="/users">Korisnici</a>

        </div>
        
        <div class="userSettings">
            
            <img class="userIcon" src="/svg/beerUser.svg" alt="beer user icon">
            
            
            <a href="/" class ="languageBtn">Jezik</a>
            
            <% if(!userID){%>
            <a href="/login">Prijava</a>
            <a href="/register">Registracija</a>
            <%}else{%>
                <a href="/users/<%=userID%>">Postavke</a>
                <a href="/logout">Odjava</a>
            <%}%>
        </div>
    </nav>

    <% if(userID){%>

        <div class="userInfo card">
            <p>Prijavljen si kao <b>
                    <%=username%>
                </b></p>
        </div>
        <%}%>

            <% if(err.length) {%>

                <div class="error">
                    <p><%= err %></p>
                    <p class="removeFlash">x</p>


                </div>
                <% } %>

                    <% if(sucess.length) {%>
                        <div class="sucess">
                            <p><%= sucess %></p>
                            <p class="removeFlash">x</p>
                        </div>

                        <% } %>

                        <div class="languageDiv">
                            <div>Odaberi jezik</div>
                            <div class="langButtons">
                                <button class="hr Button">HR</button>
                                <button class="en Button">EN</button>
                            </div>
                            
                        </div>
                            <%- body %>
<script src="/javascript/languageFront.js"></script>

<script src="/javascript/deleteMessage.js"></script>
<script src="/javascript/navbar.js"></script>
</body>



</html>